<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitHubUserName"       value=""/>
    <add key="GitHubPassword"       value=""/>
    <add key="HosterRepository"     value="https://github.com/shinetech-china-tianjin/VpnAddressHoster.git"/>
    <add key="HosterBranch"         value="vpn-address"/>
    <add key="HosterVpnAddressFile" value="vpn.address"/>
    <add key="CommitterName"        value="ShinetechVpn"/>
    <add key="CommitterEmail"       value="shinetech-tj@outlook.com"/>
    <add key="LocalRepositoryName"  value="VpnAddress"/>
  </appSettings>
</configuration>